<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties">
        <property name="username" value="hello"/>
    </properties>
    <settings>
        <setting name="useColumnLabel" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.zc.entity"/>
    </typeAliases>
    <typeHandlers>
    </typeHandlers>
    <!--    <plugins>-->
    <!--        <plugin interceptor="com.zc.mybatisplugins.WorldInterceptor"></plugin>-->
    <!--        <plugin interceptor="com.zc.mybatisplugins.HelloInterceptor"></plugin>-->
    <!--        <plugin interceptor="com.zc.mybatisplugins.SQLStatsInterceptor"></plugin>-->
    <!--    </plugins>-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/BookDao.xml"/>
        <mapper resource="mapper/CustomersDao.xml"/>
    </mappers>
</configuration>